/*-----STYLE FOR WEBSITE MOBILE-----*/
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  
  body{
    width: 100%;
    height: auto;
    margin-right: -90%;
  }

  button{
    width: auto;
  }

  .comment{
    margin-top: 0px;
    font-size: 20px;
  }

  .logo{
    text-align: center;
    align-items: center;
  }

  .user-mobile{
    margin-right: 250px;
  }

  .user-details{
    margin-left: 300px;
  }

  .testimonial-slide{
    width: auto;
  }

  .gallery-mobile{
    max-width: 450px;
    max-height: 300px;
  }

  footer{
    width: 100%;
    height: auto;
  }

  .header h2{
    font-size: 50px;
  }

  .header p{
    font-size: 50px;
    margin-bottom: -50px;
  }
  
  nav img{
    width: 10%;
  }

  nav .side{
    font-size: 20px;
    text-align: center;
  }

  nav .menu{
    margin-top: 10px;
    margin-bottom: -30px;
    font-size: 20px;
  }
  #prevButton,
    #nextButton {
        display: none;
    }

  #package-section{
    margin-top: -70px;
  }

  #popup{
    left: 30%;
    top: 40%;
  }
}

/*-----STYLE FOR WEBSITE DESKTOP-----*/ 
* {
  box-sizing: border-box;
}
  
body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

a{
  text-decoration: none;
  color: black;
}

nav{
  padding: 10px;
  padding-left: 50px;
  padding-right: 10%;
}

nav .side{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mrfresh {
  transition: transform 0.3s ease;
}

.mrfresh:hover {
  transform: translateY(-10px);
}

.menu{
  display: flex;
}

.menu > div{
  margin-left: 5px;
  border-style:groove;
  padding: 5px;
}

.menu > div :hover{
  color: #f85a40;
}
  
.header {
  padding: 30px;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

.header p{
  font-size: large;
}
.header h2{
  font-size: 40px;
}
  
.row {
  display: -webkit-flex;
  display: flex;
}
  
.column {
  padding: 10px;
  height: 1200px;
}
  
.column.side {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
  
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

.footer {
  margin-top: 100px;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 20px;
}

.footer-section h3 {
  color: #4caf50;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  color: coral;
}

.footer-section img {
  width: 30px;
  margin-right: 10px;
}

.footer-bottom {
  background-color: #1a1a1a;
  text-align: center;
  padding: 10px 0;
}

form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
}

form h2 {
  transition: transform 0.3s ease;
}

form h2:hover {
  transform: translateY(-5px);
  cursor: default;
}

form input[type="text"]:hover,
form input[type="email"]:hover,
form select:hover {
    border-color: #4CAF50;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-size: small;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.gallery{
  border-radius: 20px;
  padding: 20px;
}

.gallery img{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0.3s;
}

.gallery img:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.comment-container {
  margin-bottom: 10px;
}

.comment{
  font-style: italic;
  font-size: auto;
  text-align: center;
}

.user{
  padding: 0px;
  width: 450px;
  margin-left: 160px;
}

.user-details{
  margin-right: 120px;
  margin-left: auto;
}

.user-details a{
  cursor: default;
}

.user-details p{
  margin-top: 5px; 
  font-style: italic; 
  font-size: small;
}

.user .side{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.user-profile{
  width: 40px; 
  margin-left: 100px;
}

.select-opt{
  width: 50%; height: 30px;
}

.faq{
  margin-left: 20px;
}

.faq ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq li {
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  font-size: large;
}

.faq li::before {
  content: '\25B2';
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.faq li.open::before {
  transform: rotate(180deg);
}

.answer {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
  color: #333;
}

.faq li.open .answer {
  display: block;
  cursor: default;
  font-weight: normal;
}

.faq li.open{
  font-weight: bold;
}

.package-section {
  text-align: left;
}

.package-section h2 {
  margin-bottom: 0px;
  color: #333;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
  padding: 20px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.feature img {
  width: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.feature-details {
  max-width: 700px;
}

.feature-details h3 {
  color: #4caf50;
  margin-bottom: 10px;
}

.feature-details p {
  color: #555;
  font-size: 14px;
}

.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.popup h3 {
  color: red;
  margin-bottom: 15px;
}

.popup p {
  font-size: 14px;
  margin-bottom: 15px;
}

.popup button {
  background-color: #ff3366;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.ok {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f85a40;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.ok:hover {
  background-color: #4caf50;
}

.header, .logo, .menu {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.header, .logo, .menu {
  opacity: 0;
  transform: translateY(-20px);
}

.testimonial-slide {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
}

.testimonial-slideshow {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#testimonialSlideshow {
  display: flex;
  align-items: center;
  position: relative;
}

.testimonial-slide img {
  transition: transform 0.5s ease-in-out;
}

#prevButton {
  background-color: #f85a40;
  color: white;
  border: none; 
  padding: 10px 15px; 
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  z-index: 1;
  width: 10px;
  margin-bottom: 120px;
  height: 60px;
}

#prevButton:hover {
  background-color: #b2402f;
  left: -2px;
}

#nextButton {
  background-color: #f85a40;
  color: white; 
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  z-index: 1;
  width: 10px;
  margin-bottom: 120px;
  height: 60px;
}

#nextButton:hover {
  background-color: #b2402f;
  right: -2px;
}
